Source: php-phpdocumentor-guides-markdown
Section: php
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 13), jq
Standards-Version: 4.6.2
Homepage: https://github.com/phpDocumentor/guides-markdown
Vcs-Git: https://github.com/Vitexus/php-phpdocumentor-guides-markdown.git
Rules-Requires-Root: no

Package: php-phpdocumentor-guides-markdown
Architecture: all
Depends: ${misc:Depends}, php-cli | php, composer,
 php-phpdocumentor-guides,
 php-league-commonmark,
 php-symfony-yaml
Description: Markdown rendering extension for phpDocumentor guides
 Provides Markdown format parsing support for phpDocumentor guides.
